@import url(loader.css);
@import url(github.css);
@import url(buttons.css);
@import url(select_theme.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
}

body.dark-mode {
    background-color: #262730;
}

body.light-mode {
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rose-container {
    position: relative;
    width: 350px;
    height: 350px;
}

.box {
    color: #0d1117;
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gravitas One", serif;
    font-size: 1.5rem;
    font-weight: 400;
    place-items: center;
    background: #e3edf7;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -2px -2px 5px -1px rgba(61, 61, 61, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease, transform 0.5s ease;
    cursor: default;
}

.box:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
}


#norte {
    top: 0;
    left: 125px;
    margin-bottom: 15px;
}

#norte:hover {
    transform: translateY(-0.5rem);
}

#direita {
    top: 125px;
    right: 0;
    margin-left: 15px;
}

#direita:hover {
    transform: translateX(0.5rem);
}

#sul {
    bottom: 0;
    left: 125px;
    margin-top: 15px;
}

#sul:hover {
    transform: translateY(0.5rem);
}

#esquerda {
    top: 125px;
    left: 0;
    margin-right: 15px;
}

#esquerda:hover {
    transform: translateX(-0.5rem);
}

.timer {
    position: absolute;
    top: 125px;
    left: 125px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -2px -2px 5px -1px rgba(61, 61, 61, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    background: #e3edf7;
    transition: background-color 0.5s ease, transform 0.5s ease;
    cursor: default;
}

.timer:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
